In [2]:
#String Operator using Arthimetic Operators

s='manohar'+' '+'reddy'
print(s)

manohar reddy

In [6]:
s='manohar' + 10
print(s)   #--We will get type error we can't convert string and int

In [7]:
#  "*" Operator
s='Manohar'*3
print(s)

ManoharManoharManohar

In [8]:
s=3*'Manohar'
print(s)

ManoharManoharManohar

In [12]:
print('*************')
print('Manohar Reddy')
print('*************')

*************
Manohar Reddy
*************

In [3]:
#Type Casting  --To convert from other data type to int  
#a) int() 
#Float to int
float(int(10.989))

10.0

In [19]:
int(10+20j)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [21]:
#Bool to int
int(True)
int(False)

0

In [27]:
#String to int
#string internally contains only integrated values & Base 10
int('20')
#int('10.5')  #It will through error

20

In [4]:
#Float Datatype Method
#Other Datatype to float Datatype
#Float to int
float(15)

#We can't convert float to complex or complex to float

15.0

In [6]:
#Float to Boolean
float(True)
float(False)

0.0

In [8]:
#Float to string
float("10")
float("10.6")

10.6

In [24]:
#Other type to complex datatype
#Complex to int datatype
#Form 1 Method:
complex(110)
complex(10.6)
complex(True)
complex(False)
complex("10")
complex("10.5")

#Form 2 Method:
complex(10,10)
complex(10.5,20.5)
complex(True,False)
complex(False,True)
complex("10","20")    #If you want to pass real part string and imaginary part can't take string
complex("10",20)      #If you want to pass real part string and imaginary part can't take string
complex(10,"20")      #If you want to pass real part string and imaginary part can't take string

TypeError: complex() can't take second arg if first is a string

In [14]:
#Datatype Conversion Bool to other datatypes
#Bool to int
bool(10)
bool(0)
bool(10.00)
bool("10.0")
bool(10+20j)
bool(1J)
bool('True')
bool('False')
bool('yes')
bool('No')
bool('')   #--Empty string always show false remaining all are true conditions

False

In [19]:
#Datatype Conversion str to other datatypes
#str to int
str(0)
str(10.0)
str(10+20J)
str(True)
str(False)

'False'

In [21]:
#Fundamental Datatypes vs Immuteable
x=10
print(id(x))
x=x+1
print(id(x))

140718247875656
140718247875688

In [23]:
x=10
y=x
print(id(x))
print(id(y))
y=y+1
print(x)
print(y)
print(id(x))
print(id(y))

140718247875656
140718247875656
10
11
140718247875656
140718247875688