In [5]:
#dict datatype:

d={100:'A','B':200,300:'C','D':400}
print(d)

#If you try to add duplicate keys it will override
d={100:'A','B':200,300:'C','D':400,100:'Manohar'}      #100:'A' override to 100:'Manohar'
print(d)

{100: 'A', 'B': 200, 300: 'C', 'D': 400}
{100: 'Manohar', 'B': 200, 300: 'C', 'D': 400}

In [8]:
#Creation of dict objects:


#empty dict
d={}
d=dict()

#2)If you know data already:
d={'A':[10,20,30],'B':30,'C':40,40:'Manohar'}
print(d)

print("*************************************")

#3)By using dict():
l=[('A',100),('B',200),('C',300)]
d=dict(l)
print(d)


l=[('A',100,200),('B',200),('C',300)]  #error because of internal contain 3 elements
d=dict(l)
print(d)

{'A': [10, 20, 30], 'B': 30, 'C': 40, 40: 'Manohar'}
*************************************
{'A': 100, 'B': 200, 'C': 300}

ValueError: dictionary update sequence element #0 has length 3; 2 is required

In [11]:
#By using dynamic input:
d=eval(input('Enter any Dynamic:'))
print(d)

Enter any Dynamic:{'A':110}
{'A': 110}

In [13]:
#How to access add , update, delete data from the dictionary:


d={100:'Manohar',200:'Abhi',300:'Pravali'}
print(d[100])   #Manohar
print(d[200])   #Abhi
print(d[700])   #KeyError[Key name]

Manohar
Abhi

KeyError: 700

In [7]:
#How to access data from the dictionary
d={10:'Manohar',20:'Reddy',30:'Kakarla'}
key=int(input('Enter key value to find value:'))
if key in d:
    print('The corresponding value is:',d[key])
else:
    print('The provided key is not available')

Enter key value to find value:10
The corresponding value is: Manohar

In [9]:
#How to add/update data in dict
d={10:'Manohar',20:'Reddy',30:'Kakarla'}
d[40]='Abhi'              #Adding data to the dict
print(d)
d[20]='Abhi'              #Reddy override to Abhi
print(d)

{10: 'Manohar', 20: 'Reddy', 30: 'Kakarla', 40: 'Abhi'}
{10: 'Manohar', 20: 'Abhi', 30: 'Kakarla', 40: 'Abhi'}

In [21]:
#How to delete data from dict
#1) del 


#del
d={10:'Manohar',20:'Reddy',30:'Kakarla'}
del d[20]                    #20 key value deleted
#del d[40]                    #Key error we will get because of 40 is not available in dict
print(d)



#multiple key values deleting:
d1={10:'Manohar',20:'Reddy',30:'Kakarla',40:'surname'}
del d1[20],d1[40]
del d1[10],d1[30]
del d[100]            #Key error we will get because of 40 is not available in dict
print(d1)

{10: 'Manohar', 30: 'Kakarla'}
{}

In [33]:
#WAP to enter name and marks into dictionary and display information on the screen
n=int(input('Enter no.of students:'))
d={}
for i in range(n):
    name=input('Enter name of student:')
    marks=int(input('Enter marks of student:'))
    d[name]=marks
print('*'*30)
print('NAME','\t\t','MARKS')
print('*'*30)
for name in d:
    print(name,'\t\t',d[name])

Enter no.of students:4
Enter name of student:durga
Enter marks of student:100
Enter name of student:ravi
Enter marks of student:200
Enter name of student:shiva
Enter marks of student:300
Enter name of student:sunny
Enter marks of student:400
******************************
NAME 		 MARKS
******************************
durga 		 100
ravi 		 200
shiva 		 300
sunny 		 400

In [40]:
#Mathematical, Equality, Relational and Membership Operators for dict


#1)Mathematical Operators (+, *) not applicable for dict
d={10:'A',20:'B'}
d1={30:'C',40:'D'}
#d2=d+d1               #Error unsupported operand type(s) for +: 'dict' and 'dict'
#d2=d*3                 #Error unsupported operand type(s) for *: 'dict' and 'dict'


#2)Equality Operator (==,!=)  Both key and value should same order is not important
d={10:'A',20:'B'}
d1={30:'C',40:'D'}
d2={40:'E',30:'F'}
d3={40:'D',30:'C'}
print(d==d1)      #False
print(d1==d2)     #False
print(d1==d3)     #True

print("****************************")

#3)Relational Operators(<,<=,>,>=)   not applicable for dict
d={10:'A',20:'B'}
d1={30:'C',40:'D'}
d2={40:'E',30:'F'}
d3={40:'D',30:'C'}
# print(d<d1)            #Won't support
# print(d<=d1)            #Won't support
# print(d>d1)            #Won't support
# print(d>=d1)            #Won't support

print("****************************")

#4)Membership Operators:  (in , not in)
#Membership Operators are applicable only for keys

d={10:'A',20:'B'}
d1={30:'C',40:'D'}
print(10 in d)    #True
print(40 in d1)    #True
print(30 not in d)  #True
print('C' in d1)    #False            because its value

False
False
True
****************************
****************************
True
True
True
False

In [66]:
#Important methods and functions for dict():
#1)len()          2)get()           3)update()       4)keys()    5)values   6)items()



#1)len()
d={10:'A',20:'B',30:'C'}
print(len(d))

print('*'*30)

#2)get()
#   d.get(key)    ----------->Syntax  if the specified key is not available we will get None
#   d.get(key,default_value)    ----------->Syntax 
d={10:'A',20:'B',30:'C'}
print(d.get(10))        #A
print(d.get(20))        #B
print(d.get(40))        #None
print(d.get(10,'Abhi'))        #A
print(d.get(40,'Abhi'))        #Abhi

print('*'*30)

#3)update()
d={10:'A',20:'B'}
d1={30:'C',40:'D'}
d.update(d1)
print(d)
d={10:'A',20:'B'}
d1={30:'C',40:'D',10:'Mano'}       
d.update(d1) 
print(d)           #{10: 'Mano', 20: 'B', 30: 'C', 40: 'D'}  


print('*'*30)

#4)Keys()
d={10:'A',20:'B',30:'C'}
for key in d.keys():
    print(key)
#print(d.keys())


print('*'*30)

#5)values()
d={10:'A',20:'B',30:'C'}
for value in d.values():
    print(value)
print(d.values())

print('*'*30)

#6)items():
d={10:'A',20:'B',30:'C',40:'D'}
for item in d.items():
    print(item)
print(d.items())

print('*'*30)

d={10:'A',20:'B',30:'C',40:'D'}
for k,v in d.items():
    print(k,':',v)

3
******************************
A
B
None
A
Abhi
******************************
{10: 'A', 20: 'B', 30: 'C', 40: 'D'}
{10: 'Mano', 20: 'B', 30: 'C', 40: 'D'}
******************************
10
20
30
******************************
A
B
C
dict_values(['A', 'B', 'C'])
******************************
(10, 'A')
(20, 'B')
(30, 'C')
(40, 'D')
dict_items([(10, 'A'), (20, 'B'), (30, 'C'), (40, 'D')])
10 : A
20 : B
30 : C
40 : D

In [75]:
#WAP to get value based on key and to get key based value:

#Method 1
d={100:'A',200:'B',300:'C',400:'D'}
key=eval(input('Enter key to get value:'))
if key in d:
    print(d[key]) #print(d.get(key))
else: 
    print('The specified key is not available')
    
#Method 2    
d={100:'A',200:'B',300:'C',400:'D'}
key=eval(input('Enter key to get value:'))
if key in d:
    print(d.get(key))
else: 
    print('The specified key is not available')

Enter key to get value:100
A
Enter key to get value:200
B

In [11]:
#WAP to get key based value:
d={100:'A',200:'A',300:'C',400:'D'}
value=input('Enter value to find key:')
available=False
for k,v in d.items():
    if v==value:
        print('The corresponding key is:',k)
        available=True
if available==False:
    print('The corresponding value is not found in dictionary')

Enter value to find key:A
The corresponding key is: 100
The corresponding key is: 200

In [7]:
#pop()
#d.pop(key)  --->Syntax
d={10:'A',20:'B',30:'C',40:'D'}
print(d.pop(30))    #C
#print(d.pop(70))    #Key error 70

print("********************************************")

#d.pop(key,default_value())
d={10:'A',20:'B',30:'C',40:'D'}
print(d.pop(30))  #C
print(d)          #{10:'A',20:'B',40:'D'}
print(d.pop(70,'Manohar'))  #Manohar

C
********************************************
C
{10: 'A', 20: 'B', 40: 'D'}
Manohar

In [12]:
#popitem()  It removes random item
d={10:'A',20:'B',30:'C',40:'D'}
print(d.popitem())                #(40, 'D')
print(d.popitem())                #(30, 'C')
print(d)                          #{10: 'A', 20: 'B'}


#3)Clear()
d={10:'A',20:'B'}
print(d.clear())
print(d)

(40, 'D')
(30, 'C')
{10: 'A', 20: 'B'}
None
{}

In [16]:
#4)set_default():
d={100:'A',200:'B'}
print(d.setdefault(300,'C'))
print(d)
print(d.setdefault(100,'Manohar'))
print(d)

C
{100: 'A', 200: 'B', 300: 'C'}
A
{100: 'A', 200: 'B', 300: 'C'}

In [20]:
#5)Alising and cloning
d={10:'S',20:'D'}
d1=d
d[30]='K'
print(d)
print(d1)

#Cloning
d={10:'A',20:'B'}
d1=d.copy()
print(d)
print(d1)
d[30]='C'
print(d)
print(d1)

{10: 'S', 20: 'D', 30: 'K'}
{10: 'S', 20: 'D', 30: 'K'}
{10: 'A', 20: 'B'}
{10: 'A', 20: 'B'}
{10: 'A', 20: 'B', 30: 'C'}
{10: 'A', 20: 'B'}

In [32]:
#WAP to take dictionary from the keyboard and sum of values

#Method 1
d=eval(input('Enter dictionay:'))
sum=0
for item in d.items():
    sum=sum+item[1]
print('The sum of values is:',sum)
    
#Method 2
d=eval(input('Enter dictionay:'))
print('The sum of values is:',sum(d.values()))

Enter dictionay:{'A':10,'V':20}
The sum of values is: 30

In [45]:
#WAP to find no of occurrences of each letter present in the given string
#Method 1
word=input('Enter a string:')
d={}
for ch in word:
    d[ch]=(d.get(ch,0)+1)
print(d)

#Method 2:

word=input('Enter a string:')
d={}
for ch in word:
    d[ch]=(d.get(ch,0)+1)
for k,v in d.items():
    print(k,'occurs', v, 'times')

Enter a string:AABB
{'A': 2, 'B': 2}
Enter a string:AABB
A occurs 2 times
B occurs 2 times

In [3]:
#WAP to find numbers of occurances of each vowel present in the given string
word=input('Enter a string:')
vowels={'a','e','i','o','u'}
d={}
for ch in word:
    if ch in vowels:
        d[ch]=d.get(ch,0)+1
print(d)

#Method 2:
word=input('Enter a string:')
vowels={'a','e','i','o','u'}
d={}
for ch in word:
    if ch in vowels:
        d[ch]=d.get(ch,0)+1
for k,v in sorted(d.items()):
    print(k,'occurs',v,'times')

Enter a string:aauuii
{'a': 2, 'u': 2, 'i': 2}
Enter a string:aauuii
a occurs 2 times
i occurs 2 times
u occurs 2 times

In [4]:
#WAP to accept student name and marks from the keyboard and create dictionary. Also display student marks by taking student name
#as input?
n=int(input('Enter No.of students:'))
d={}
for i in range(n):
    name=input('Enter student name:')
    marks=int(input('Enter students marks:'))
    d[name]=marks
print('Student data insertion completed')
print('*'*30)
print('Name','\t\t','MARKS')
print('*'*30)
for k,v in d.items():
    print(k,'\t\t',v)
print('Search Operation started...')
while True:
    name=input('Enter student name to find marks:')
    marks=d.get(name,-1)
    if marks==-1:
        print('Student not found')
    else:
        print('Marks of',name, 'are:',marks)
    option=input('Do you want to find another student marks[yes|no]:')
    if option.lower()=='no':
        break
print('Thaks for using our application')

Enter No.of students:4
Enter student name:Manohar
Enter students marks:100
Enter student name:Mahesh
Enter students marks:200
Enter student name:Abhi
Enter students marks:300
Enter student name:Pravali
Enter students marks:400
Student data insertion completed
******************************
Name 		 MARKS
******************************
Manohar 		 100
Mahesh 		 200
Abhi 		 300
Pravali 		 400
Search Operation started...
Enter student name to find marks:Manohar
Marks of Manohar are: 100
Do you want to find another student marks[yes|no]:yes
Enter student name to find marks:Mahesh
Marks of Mahesh are: 200
Do you want to find another student marks[yes|no]:Yes
Enter student name to find marks:Pravali
Marks of Pravali are: 400
Do you want to find another student marks[yes|no]:no
Thaks for using our application

In [19]:
#OOPS concept(Object oriented programming system)
#Basic class 
class demo:
    name='Manohar'
    age=30
    dob='19-Aug-1994'
s1=demo()
print(s1.name)
print(s1.age)
print(s1.dob)

s2=demo()
print(s2.name)
print(s2.age)
print(s2.dob)

Manohar
30
19-Aug-1994
Manohar
30
19-Aug-1994

In [26]:
class demo:
    univ='USD'
    Location='Vermillion'
    Dept='CSE'
    #Initializing the constructor
    def __init__(self,name,age,gender,dob):
        self.name=name
        self.age=age
        self.gender=gender
        self.dob=dob
s1=demo(name='Manohar',age=30,gender='Male',dob='19-Aug-1994')
print(s1.name,s1.gender,s1.age,s1.dob)
s2=demo(name='Mahesh',gender='Male',age=24,dob='19-May-2000')
print(s2.name,s2.age,s2.gender,s2.dob)

Manohar Male 30 19-Aug-1994
Mahesh 24 Male 19-May-2000

In [31]:
#run time providing values
class demo:
    univ='USD'
    Location='Vermillion'
    Dept='CSE'
    def __init__(self,name,age,gender,dob):
        self.name=name
        self.age=age
        self.gender=gender
        self.dob=dob
name=input('Enter the name:')
age=int(input('Enter your age:'))
gender=input('Enter your gender:')
dob=input('Enter your date of birth:')
s1=demo(name,age,gender,dob)
s2=demo(name,age,gender,dob)
print(s1.name,s1.age,s1.gender,s1.dob)
print(s2.name,s2.age,s2.gender,s2.dob)

Enter the name:'M'
Enter your age:20
Enter your gender:'Ma'
Enter your date of birth:'AUg'
'M' 20 'Ma' 'AUg'
'M' 20 'Ma' 'AUg'

In [42]:
class test:
    univ='USD'
    Location='SD'
    def __init__(self,name,dept,fee):
        self.name=name
        self.dept=dept
        self.fee=fee
t1=test(name='Pravali',dept='ECE',fee=10000)
t2=test(name='Mahesh',dept='CSE',fee=20000)
print('The students are:',t1.name,t1.dept,t1.fee)
print('The students are:',t2.name,t2.dept,t2.fee)

The students are: Pravali ECE 10000
The students are: Mahesh CSE 20000