In [5]:
#dict datatype:

d={100:'A','B':200,300:'C','D':400}
print(d)

#If you try to add duplicate keys it will override
d={100:'A','B':200,300:'C','D':400,100:'Manohar'}      #100:'A' override to 100:'Manohar'
print(d)

{100: 'A', 'B': 200, 300: 'C', 'D': 400}
{100: 'Manohar', 'B': 200, 300: 'C', 'D': 400}

In [8]:
#Creation of dict objects:


#empty dict
d={}
d=dict()

#2)If you know data already:
d={'A':[10,20,30],'B':30,'C':40,40:'Manohar'}
print(d)

print("*************************************")

#3)By using dict():
l=[('A',100),('B',200),('C',300)]
d=dict(l)
print(d)


l=[('A',100,200),('B',200),('C',300)]  #error because of internal contain 3 elements
d=dict(l)
print(d)

{'A': [10, 20, 30], 'B': 30, 'C': 40, 40: 'Manohar'}
*************************************
{'A': 100, 'B': 200, 'C': 300}

ValueError: dictionary update sequence element #0 has length 3; 2 is required

In [11]:
#By using dynamic input:
d=eval(input('Enter any Dynamic:'))
print(d)

Enter any Dynamic:{'A':110}
{'A': 110}

In [13]:
#How to access add , update, delete data from the dictionary:


d={100:'Manohar',200:'Abhi',300:'Pravali'}
print(d[100])   #Manohar
print(d[200])   #Abhi
print(d[700])   #KeyError[Key name]

Manohar
Abhi

KeyError: 700

In [7]:
#How to access data from the dictionary
d={10:'Manohar',20:'Reddy',30:'Kakarla'}
key=int(input('Enter key value to find value:'))
if key in d:
    print('The corresponding value is:',d[key])
else:
    print('The provided key is not available')

Enter key value to find value:10
The corresponding value is: Manohar

In [9]:
#How to add/update data in dict
d={10:'Manohar',20:'Reddy',30:'Kakarla'}
d[40]='Abhi'              #Adding data to the dict
print(d)
d[20]='Abhi'              #Reddy override to Abhi
print(d)

{10: 'Manohar', 20: 'Reddy', 30: 'Kakarla', 40: 'Abhi'}
{10: 'Manohar', 20: 'Abhi', 30: 'Kakarla', 40: 'Abhi'}

In [21]:
#How to delete data from dict
#1) del 


#del
d={10:'Manohar',20:'Reddy',30:'Kakarla'}
del d[20]                    #20 key value deleted
#del d[40]                    #Key error we will get because of 40 is not available in dict
print(d)



#multiple key values deleting:
d1={10:'Manohar',20:'Reddy',30:'Kakarla',40:'surname'}
del d1[20],d1[40]
del d1[10],d1[30]
del d[100]            #Key error we will get because of 40 is not available in dict
print(d1)

{10: 'Manohar', 30: 'Kakarla'}
{}

In [33]:
#WAP to enter name and marks into dictionary and display information on the screen
n=int(input('Enter no.of students:'))
d={}
for i in range(n):
    name=input('Enter name of student:')
    marks=int(input('Enter marks of student:'))
    d[name]=marks
print('*'*30)
print('NAME','\t\t','MARKS')
print('*'*30)
for name in d:
    print(name,'\t\t',d[name])

Enter no.of students:4
Enter name of student:durga
Enter marks of student:100
Enter name of student:ravi
Enter marks of student:200
Enter name of student:shiva
Enter marks of student:300
Enter name of student:sunny
Enter marks of student:400
******************************
NAME 		 MARKS
******************************
durga 		 100
ravi 		 200
shiva 		 300
sunny 		 400

In [40]:
#Mathematical, Equality, Relational and Membership Operators for dict


#1)Mathematical Operators (+, *) not applicable for dict
d={10:'A',20:'B'}
d1={30:'C',40:'D'}
#d2=d+d1               #Error unsupported operand type(s) for +: 'dict' and 'dict'
#d2=d*3                 #Error unsupported operand type(s) for *: 'dict' and 'dict'


#2)Equality Operator (==,!=)  Both key and value should same order is not important
d={10:'A',20:'B'}
d1={30:'C',40:'D'}
d2={40:'E',30:'F'}
d3={40:'D',30:'C'}
print(d==d1)      #False
print(d1==d2)     #False
print(d1==d3)     #True

print("****************************")

#3)Relational Operators(<,<=,>,>=)   not applicable for dict
d={10:'A',20:'B'}
d1={30:'C',40:'D'}
d2={40:'E',30:'F'}
d3={40:'D',30:'C'}
# print(d<d1)            #Won't support
# print(d<=d1)            #Won't support
# print(d>d1)            #Won't support
# print(d>=d1)            #Won't support

print("****************************")

#4)Membership Operators:  (in , not in)
#Membership Operators are applicable only for keys

d={10:'A',20:'B'}
d1={30:'C',40:'D'}
print(10 in d)    #True
print(40 in d1)    #True
print(30 not in d)  #True
print('C' in d1)    #False            because its value

False
False
True
****************************
****************************
True
True
True
False

In [ ]:
#Important methods and functions for dict():
#1)len()             2)get()                3)update()