In [4]:
#Input and Output statements

x=input(('Enter some value:'))
print(type(x))
print(x)

Enter some value:True
<class 'str'>
True

In [12]:
#Demo Programm
#Sum of 2 numbers programm different methods
x=int(input('Enter First Number:'))
y=int(input('Enter Second Number:'))
print('The sum of 2 numbers is:',x+y)
print("******************************")
#          or
a=input('Enter first number:')
b=input('Enter second number:')
i=int(a)
j=int(b)
print('The sum of 2 numbers is:',i+j)

print("******************************")
#          or
print('The sum of 2 values:',int(input('Enter first number:'))+int(input('Enter second number:')))

Enter First Number:1
Enter Second Number:1
The sum of 2 numbers is: 2
******************************
Enter first number:2
Enter second number:2
The sum of 2 numbers is: 4
******************************
Enter first number:1
Enter second number:2
The sum of 2 values: 3

In [21]:
#Write a programm to read employee data from the keyboard and print the data
eno=int(input('Enter employee no:'))
ename=input('Enter employee name:')
esal=float(input('Enter employee salary:'))
eaddr=input('Enter employee address:')
marriaed=bool(input('Is Employee Marriaed?[True/False]:'))
print('please confirm you provided data:')
print('Employee No is:',eno)
print('Employee Name is:',ename)
print('Employee salary is:',esal)
print('Employee location is:',eaddr)
print('Employee Marriaed ?:',marriaed)    #If you want to display correct false condition value we need to leave empty string

print("***********************************************************************************************************************")
#Eval function using instead of bool function to overwrite above problem

#Write a programm to read employee data from the keyboard and print the data
eno=int(input('Enter employee no:'))
ename=input('Enter employee name:')
esal=float(input('Enter employee salary:'))
eaddr=input('Enter employee address:')
marriaed=eval(input('Is Employee Marriaed?[True/False]:'))
print('please confirm you provided data:')
print('Employee No is:',eno)
print('Employee Name is:',ename)
print('Employee salary is:',esal)
print('Employee location is:',eaddr)
print('Employee Marriaed ?:',marriaed)    #If you want to display correct false condition value we need to leave empty string

Enter employee no:10
Enter employee name:Mano
Enter employee salary:50
Enter employee address:Hyd
Is Employee Marriaed?[True/False]:True
please confirm you provided data:
Employee No is: 10
Employee Name is: Mano
Employee salary is: 50.0
Employee location is: Hyd
Employee Marriaed ?: True

In [46]:
#list unpacking method
# s=input("Enter 2 numbers:")
# print(s)    #Single value
# l=s.split()   
# print(l)   #['10','20']
# l1=[int(x) for x in l]
# print(l1)  #[10,20]
# a,b=l1
# print(a)
# print(b)
# print('The sum of 2 numbers is:',a+b)

#Combine above code

#How to read multiple values from the keyboard in a single line
a,b=[int(x) for x in input('Enter 2 values:').split()]
print('The sum of 2 numbers is:',a+b)
print("*****************************************************")
#Splting values , seperator
a,b=[int(x) for x in input('Enter 2 numbers:').split(',')]
print('The sum of 2 numbers is:',a+b)
print("*****************************************************")
#String values providing
a,b=[str(x) for x in input('Enter first and last names:').split()]
print('The given full name is:',a+" "+b)

Enter 2 values:10 20
The sum of 2 numbers is: 30
*****************************************************
Enter 2 values:10,20
The sum of 2 numbers is: 30
*****************************************************
Enter 2 values:Manohar Kakarla
The given full name is: Manohar Kakarla

In [47]:
#Write a programm to read three float values from the keyboard
a,b,c=[float(x) for x in input('Enter 3 numbers with , separation:').split(',')]
print('The sum of 3 values is:', a+b+c)
print('Thr product of 3 values is:',a*b*c)

Enter 3 numbers:10,20,30
The sum of 3 values is: 60.0
Thr product of 3 values is: 6000.0

In [16]:
#Eval function
b= eval(input('Enter something:'))
print(type(b))
print("*******************************************")
#We can perform expression as well with eval function
x=eval('10+20+30')
print(x,type(x))

Enter something:10
<class 'int'>
*******************************************
60 <class 'int'>

In [38]:
#Command line arguments
!py test.py 10 20 30  # Calling this program test.py

test.py
10
20
<class 'list'>

In [37]:
#Program to print command line arguments information
# from sys import *
# print('The no.of command line arguments:',len(argv))
# print("\n")
# print('The list of command line arguments:',argv)
# print("\n")
# print('Command line arguments one by one:\n')
# for x in argv:
#     print(x)

!py test.py 10 20 30

The no.of command line arguments: 4


The list of command line arguments: ['test.py', '10', '20', '30']


Command line arguments one by one:

test.py
10
20
30

In [36]:
#program to print sum of given numbers provided as command line arguments
!py test.py 100 200 300 # Calling this program test.py

The sum is: 600

In [50]:
#!py test.py Manohar Reddy
#!py test.py "Manohar Reddy"  # Calling this program test.py 
!py test.py 10 20

30

In [60]:
#Output Statements
#print() without any argument  
print('manohar')
print()
print('reddy')
print("******************")
a,b,c,d=10,20,30,40
print(a,b,c,d)  #10 20 30 40
print(a,b,c,d,sep=',')  # with seperator 10,20,30,40 
print(a,b,c,d,sep=':')  # with seperator 10:20:30:40

manohar

reddy
******************
10 20 30 40
10,20,30,40
10:20:30:40

In [4]:
#end attribute
print('Manohar')
print('Reddy')
print('Kakarla')
print("**************")
print("Manohar",end='')
print("Reddy",end='')
print("Kakarla")
print("**************")
print("Manohar",end=' ')
print("Reddy",end=' ')
print("Kakarla")

Manohar
Reddy
Kakarla
**************
ManoharReddyKakarla
**************
Manohar Reddy Kakarla

In [8]:
#sep and end attributes examples
print(10,20,30,sep=':',end='***') #excepted output 10:20:30***
print(40,50,60,sep=':')  #excepted output 40:50:60
print(70,80,sep='**',end='$$') #excepted output 70**80$$
print(90,100) #excepted output 90 100

10:20:30***40:50:60
70**80$$90 100

In [9]:
print('Manohar'+'Reddy')#ManoharReddy
print('Manohar','Reddy')#Manohar Reddy

ManoharReddy
Manohar Reddy

In [11]:
#print(object) and with replacement operator
l=[10,20,30,40]
print(l)
t=(10,20,30,40)
print(t)

[10, 20, 30, 40]
(10, 20, 30, 40)

In [42]:
#print with replacement operator{} example programm
name='Manohar'#Excepted output is Hello Manohar your salary is 10000 and your friend Abhi is waiting
salary=10000
gf='Abhi'
print('Hello',name,'your salary is',salary,'and your friend',gf,'is waiting')

    #or
#using format method using replacement operator
name='Manohar'#Excepted output is Hello Manohar your salary is 10000 and your friend Abhi is waiting
salary=10000
gf='Abhi'
print('Hello {},your salary is {} and your friend {} is waiting'.format(name,salary,gf))

#using index method to get the output #Order is important
name='Manohar'
salary=10000
gf='Abhi'
print('Hello {0},your salary is {1} and your friend {2} is waiting'.format(name,salary,gf))

#4th method keyboard arguments **Order is not important
name='Manohar'
salary=10000
gf='Abhi'
print('Hello {n},your salary is {s} and your friend {f} is waiting'.format(n=name,s=salary,f=gf))

Hello Manohar your salary is 10000 and your friend Abhi is waiting
Hello Manohar,your salary is 10000 and your friend Abhi is waiting
Hello Manohar,your salary is 10000 and your friend Abhi is waiting
Hello Manohar,your salary is 10000 and your friend Abhi is waiting

In [46]:

a,b,c,d=10,20,30,40 #Required output is a=10,b=20,c=30,d=40
print('a={},b={},c={},d={}'.format(a,b,c,d))

a=10,b=20,c=30,d=40

In [56]:
#print() with formated string
#%i     signed decimal value
#%d     signed decimal value
#%f     float value
#s      string,any other object like list,set,tuple...
#a=10
#print('a value is %i' %a)  #%i value replaced with exact variable

a=10
b=20
c=30
print('a=%d,b=%d,c=%d' %(a,b,c))
#print('a and b and c value is %i' %a,b,c)

a=10,b=20,c=30
a and b and c value is 10 20 30

In [61]:
name='Manohar'
marks=[10,20,30,40]
print('Hello {} your list marks is {}'.format(name,marks))  #using replacement operator
print('Hello %s Your list marks is:%s' %(name,marks))       #using formated string operator

Hello Manohar your list marks is [10, 20, 30, 40]
Hello Manohar Your list marks is:[10, 20, 30, 40]

In [66]:
price=80.78945
print('Price is {}'.format(price))
print('price is %f' %price)
print('price is %.2f' %price)   #only taking 2 decimal values

Price is 80.78945
price is 80.789450
price is 80.79