In [ ]:
#Iterative Loops
#for loop and while loop

In [1]:
#for loop
s='Manohar Reddy'
for x in s:
    print(x)

M
a
n
o
h
a
r

R
e
d
d
y

In [6]:
#index based values printing
#s='Manohar Reddy'
s=input('Enter a name:')
i=0
for x in s:
    print('The character present at {} index: {}'.format(i,x))
    i +=1

Enter a name:Abhi
The character present at 0 index: A
The character present at 1 index: b
The character present at 2 index: h
The character present at 3 index: i

In [10]:
#print a particular statement 10 times
#s=input('Enter some condition')
for x in range(10):
    print('Hello welcome to for loop practice')
print("**********************")
for x in range(1,11):
    print(x)

Hello welcome to for loop practice
Hello welcome to for loop practice
Hello welcome to for loop practice
Hello welcome to for loop practice
Hello welcome to for loop practice
Hello welcome to for loop practice
Hello welcome to for loop practice
Hello welcome to for loop practice
Hello welcome to for loop practice
Hello welcome to for loop practice
**********************
1
2
3
4
5
6
7
8
9
10

In [28]:
#To display odd numbers from 0 to 20
for x in range(0,21):
    if x%2!=0:
        print(x)
print("*******************************")
#or
for x in range(1,21,2):
    print(x)

# n=int(input('Enter a number'))
# n1=n%2!=0
# print(n1)

1
3
5
7
9
11
13
15
17
19
*******************************
1
3
5
7
9
11
13
15
17
19

In [30]:
#WAP to display values in descending order
for x in range(10,0,-1):
    print(x)

10
9
8
7
6
5
4
3
2
1

In [45]:
#to print the sum of numbers in the given list
list=eval(input('Enter list values:'))
sum=0
for x in list:
    sum=sum+x
print('The sum is:',sum)

Enter list values:[10]
The sum is: 10

In [48]:
list=eval(input('Enter list values:'))
print('The sum is:',sum(list))      #Jupiter notebook is not working online compiler is working issue with jupiter

Enter list values:[11,22]

TypeError: 'int' object is not callable