In [24]:
l=[]
print(type(l))
print(l)

<class 'list'>
[]

In [25]:
#If we know data already
l=[10,20,30,40]
print(l)

[10, 20, 30, 40]

In [26]:
#Manually we are providing values     Dynamically 
l=eval(input('enter a list:'))
print(l)

enter a list:[10,20]
[10, 20]

In [27]:
#by using list()
s=list('Manohar')   #str value
s1=list(s)          #converting to list
print(type(s))      #type checking
print(s)            #display the result

#method 2
l=list(range(0,10,2))
print(l)

<class 'list'>
['M', 'a', 'n', 'o', 'h', 'a', 'r']
[0, 2, 4, 6, 8]

In [28]:
#split()
s='Manohar Reddy Kakarla'
s1=s.split()
print(s1)

['Manohar', 'Reddy', 'Kakarla']

In [1]:
#Accessing data using list
#using index
#using slice operator
l=[10,20,30,50]
l[0]      #10
l[-1]     #50
#l[100]    #out of index error

50

In [2]:
#using slice operator
#list = l[begin:end:step]
#+ve =>Forward direction => begin to end-1
#-ve =>Backward direction => begin to end+1


l=[10,20,30,40,50,60,70,80,90,100]
print(l[2:7])    #30,40,50,60,70
print(l[2:7:2])  #30,50,70
print(l[4::2])   #50,70,90
print(l[8:2:-2]) #90,70,50
print(l[4:100])  #50,60,70,80,90,100
print(l[4:0:2])  #[]
print(l[::1])    #[10,20,30,40,50,60,70,80,90,100]
print(l[::-1])   #[100,90,80,70,60,50,40,30,20,10]

[30, 40, 50, 60, 70]
[30, 50, 70]
[50, 70, 90]
[90, 70, 50]
[50, 60, 70, 80, 90, 100]
[]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

In [10]:
#Traversing elements list and applications
# By using while loop
l=[10,20,30,40,50,60,70,80,90,100]
i=0
while i< len(l):
    print(l[i])
    i=i+1

10
20
30
40
50
60
70
80
90
100

In [14]:
#Traversing elements list and applications
# By using for loop
l=[10,20,30,40,50,60,70,80,90,100]
for i in range(10):
    print(l[i])
    i=i+1

10
20
30
40
50
60
70
80
90
100

In [45]:
#Print only even numbers
# By using for loop
l=[0,1,2,3,4,5,6,7,8,9,10]
for x in l:
    if x%2==0:
        print('The number is Even:',x)
    else:
        print('The number is Odd:',x)

The number is Even: 0
The number is Odd: 1
The number is Even: 2
The number is Odd: 3
The number is Even: 4
The number is Odd: 5
The number is Even: 6
The number is Odd: 7
The number is Even: 8
The number is Odd: 9
The number is Even: 10

In [1]:
#To print elements of list index wise
l=[10,20,30,40,50,60]
i=0
while i<len(l):
    print('The element present at positive index {} and at negative index {} is {}'.format(i,i-len(l),l[i]))
    i=i+1

The element present at positive index 0 and at negative index -6 is 10
The element present at positive index 1 and at negative index -5 is 20
The element present at positive index 2 and at negative index -4 is 30
The element present at positive index 3 and at negative index -3 is 40
The element present at positive index 4 and at negative index -2 is 50
The element present at positive index 5 and at negative index -1 is 60

In [2]:
#Mathematical Operators for list
#Concatnation Operator(+)  and Repetition Operator(*)



#Concatnation Operator (+):
l1=[10,20,30]
l2=[30,40,50]
l3=l1+l2        #[10,20,30,30,40,50]
print(l3)

[10, 20, 30, 30, 40, 50]

In [3]:
l1=[10,20,30]
l2=l1+40      #We can't concatnate list and other type we will get error
print(l2)

TypeError: can only concatenate list (not "int") to list

In [4]:
l1=[10,20,30]
l2=l1+[40] 
print(l2)

[10, 20, 30, 40]

In [7]:
#Repetition Operator(*)
l1=[10,20]
l2=l1*2     #One arugment should be list another arugment should be int
print(l2)

#Repetition Operator
l1=[10,20]
l2=2*l1     #One arugment should be list another arugment should be int
print(l2)


#Repetition Operator
l1=[10,20]
l2=l1*l1     #Error
print(l2)

[10, 20, 10, 20]
[10, 20, 10, 20]

In [8]:
#
l1=[10,20]
l2=[30,40]
l3=l1+l2  #[10,20,30,40]
l4=l3*3  #[10,20,30,40,10,20,30,40,10,20,30,40]
print(l4)

[10, 20, 30, 40, 10, 20, 30, 40, 10, 20, 30, 40]

In [10]:
#Equality Operators for list datatype
#   ==,  !=
l1=['Dog','Cat','Rat']
l2=['Dog','Cat','Rat']
l3=['DOG','CAT','RAT']
l4=['Cat','Rat','Dog']
print(l1==l2)
print(l1==l3)
print(l1==l4)
print(l1!=l4)

True
False
False
True

In [13]:
#Relational Operators using list operator
l1=[10,20,30,40]
l2=[10,20]
print(l1<l2)
print(l1<=l2)
print(l1>l2)
print(l1>=l2)

False
False
True
True

In [11]:
#Relational Operators using list operator
l1=[10,20,30,40]
l2=[10,20,30,40,50,60]
print(l1<l2)
print(l1<=l2)
print(l1>l2)
print(l1>=l2)

True
True
False
False

In [16]:
l1=['Manohar','Reddy']
l2=["Abhinav","Reddy"]
print(l1<l2)
print(l1<=l2)
print(l1>l2)
print(l1>=l2)

False
False
True
True

In [17]:
l1=['Manohar Reddy']
l2=["Abhinav Reddy"]
print(l1<l2)
print(l1<=l2)
print(l1>l2)
print(l1>=l2)

False
False
True
True

In [18]:
#membership Operators for list datatype
l1=[10,20,30]
print(10 in l1)
print(100 not in l1)
print(100 in l1)

True
True
False

In [33]:
#Important Methods and Functions for list: len() and count() and index()
#len()
#count()
#index()



#len()
l=[10,20,30,40]
print('The length is:',len(l))


#count()
l=[10,20,30,40,10,20,60,20,70]
print('The length of 10 value is:',l.count(10))
print('The length of 20 value is:',l.count(20))
print('The length of 100 value is:',l.count(100))


#index():    It returns index place of first occurrenaces
l=[1,2,1,2,3,4]
print('The index first position is:',l.index(1))  #0 # index first position value it will display
print('The index first position is:',l.index(2)) #1
print('The index first position is:',l.index(5)) #5 is not available so we will get error

The length is: 4
The length of 10 value is: 2
The length of 20 value is: 3
The length of 100 value is: 0
The index first position is: 0
The index first position is: 1

In [36]:
#
l=[1,2,2,2,3,3]
x=int(input('Enter a character:'))
if x in l:
    print('{} present at index {}'.format(x,l.index(x)))
else:
    print(x, ' Not available in the list')

Enter a character:10
10  Not available in the list

In [44]:
#Manipulating elements of list
# 1) append()         2)insert()      3)extend()


#append():
#WAP To Add elements from 1 to 100 which are divisible by 10 to the list

l=[]
for x in range(1,101):
    if x%10==0:
        l.append(x)
print(l)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [47]:
#insert():
l=[10,20,30,'Mano']
l.insert(1,'Abhi')
l.insert(100,'Pravali')
l.insert(-100,0)
print(l)

[0, 10, 'Abhi', 20, 30, 'Mano', 'Pravali']

In [48]:
#extend()
#To add all elements of given sequence to the list
#syntax     l1.extend(l2)


order1=['Sweet','Mixture','Pickel']
order2=['Rice','Curry','Sambar']
print(order1)
print(order2)
order1.extend(order2)
print(order1)

['Sweet', 'Mixture', 'Pickel']
['Rice', 'Curry', 'Sambar']
['Sweet', 'Mixture', 'Pickel', 'Rice', 'Curry', 'Sambar']

In [51]:
#some examples
l1=[10,20,30]
l2=[40,50]
l1.append(l2)
print(l1)
print(len(l1))

#using extend instead of append
l1=[10,20,30]
l2=[40,50]
l1.extend(l2)
print(l1)
print(len(l1))

[10, 20, 30, [40, 50]]
4
[10, 20, 30, 40, 50]
5

In [56]:
#Eg2:
l1=[10,20,30]
l1.append('ABC')  #appending string [10,20,30,'ABC']   
print(l1)
print(len(l1))


#using extend instead of append
l1=[10,20,30]
l1.extend('ABC')  #appending string [10,20,30,'A','B','C']   
print(l1)
print(len(l1))

[10, 20, 30, 'ABC']
4
[10, 20, 30, 'A', 'B', 'C']
6

In [65]:
#Removing elements at the particular list we have three methods
# 1) remove()    2) pop()     3)clear()




#  remove() 
#it we have multiple same elements it will remove first occurances only and specified value is not available we will get error

l=[10,20,10,40,20]
l.remove(40)       #only one value is their so it will deleted
print(l)
l.remove(10)       #first occurance only deleted
print(l)
#l.remove(100)     # we will get value error
#print(l)

[10, 20, 10, 20]
[20, 10, 20]
[20, 10, 20]

In [69]:
#Eg
l=[1,2,3,4,5,6]
print('Before removal:',l)
x=int(input('Enter a character to removal:'))
if x in l:
    l.remove(x)
    print('After removal:',l)
else:
    print(x,'Not present in the list')

Before removal: [1, 2, 3, 4, 5, 6]
Enter a character to removal:100
100 Not present in the list

In [1]:
#How to remove all occurances?
l=[1,1,1,1,2,3,3,2,4]
x=int(input('Enter element to remove character:'))
while True:
    if x in l:
        l.remove(x)
    else:
        break
print('After removal:',l)

Enter element to remove character:1
After removal: [2, 3, 3, 2, 4]

In [9]:
#pop()
#Default function is it will remove end of the element.


#eg1:
l=[10,20,30,40]
print(l.pop())   #40
print(l)      #[10,20,30]
print(l.pop())  #30
print(l.pop())  #20
print(l.pop())  #10
print(l.pop())  # No values are present in list so we will get index error 
print(l)        #[]

40
[10, 20, 30]
30
20
10

IndexError: pop from empty list

In [12]:
#Removing elements at particular index level we can use pop() only
#syntax     pop(index)

l=[10,20,30,40]
print(l.pop(1))   #removed 20
print(l)          #[10,30,40]
print(l.pop(10))   #pop index out of range error

20
[10, 30, 40]

IndexError: pop index out of range

In [16]:
#clear() 
# to clear all elements to use clear() method

#eg1:
l=[10,20,30,40]
l.clear()
#l.clear()
print(l)
print(l.clear())

[]
None

In [23]:
#Ordering Elements to the list
#1) reverse()
#2) reversed()



#1) reverse()
l=[10,20,30]
print('Before reverse:',l)
l.reverse()
print('After reverse:',l)

print("*****************************")

#reversed()  #it is python build in function it will use all other objects as well for ex list,tuple,set,dict
l=[10,20,30,40]
l1=reversed(l)
print(type(l1))   # <class 'list_reverseiterator'>
l2=list(l1)
print(type(l2))
print(l2)


s='Manohar'
r=reversed(s)
for x in r:
    print(x)

Before reverse: [10, 20, 30]
After reverse: [30, 20, 10]
*****************************
<class 'list_reverseiterator'>
<class 'list'>
[40, 30, 20, 10]
r
a
h
o
n
a
M

In [28]:
#Ordering Elements to the list
#1) sort()
#2) sorted()



#sort()
#numbers is Ascending Order
#strings is Alphabetical order

#Eg1:
l=[20,5,10,0,30,35,11,7,8,2,1]
print('Before sorting:',l)
l.sort()
print('After sorting:',l)

print("***************************")
#Eg2:
l=['Banana','Apple','Dog','Cat']
print('Before  sorting:',l)
l.sort()
print('After sorting:',l)

Before sorting: [20, 5, 10, 0, 30, 35, 11, 7, 8, 2, 1]
After sorting: [0, 1, 2, 5, 7, 8, 10, 11, 20, 30, 35]
***************************
Before  sorting: ['Banana', 'Apple', 'Dog', 'CAT']
After sorting: ['Apple', 'Banana', 'CAT', 'Dog']