In [24]:
l=[]
print(type(l))
print(l)

<class 'list'>
[]

In [25]:
#If we know data already
l=[10,20,30,40]
print(l)

[10, 20, 30, 40]

In [26]:
#Manually we are providing values     Dynamically 
l=eval(input('enter a list:'))
print(l)

enter a list:[10,20]
[10, 20]

In [27]:
#by using list()
s=list('Manohar')   #str value
s1=list(s)          #converting to list
print(type(s))      #type checking
print(s)            #display the result

#method 2
l=list(range(0,10,2))
print(l)

<class 'list'>
['M', 'a', 'n', 'o', 'h', 'a', 'r']
[0, 2, 4, 6, 8]

In [28]:
#split()
s='Manohar Reddy Kakarla'
s1=s.split()
print(s1)

['Manohar', 'Reddy', 'Kakarla']

In [1]:
#Accessing data using list
#using index
#using slice operator
l=[10,20,30,50]
l[0]      #10
l[-1]     #50
#l[100]    #out of index error

50

In [2]:
#using slice operator
#list = l[begin:end:step]
#+ve =>Forward direction => begin to end-1
#-ve =>Backward direction => begin to end+1


l=[10,20,30,40,50,60,70,80,90,100]
print(l[2:7])    #30,40,50,60,70
print(l[2:7:2])  #30,50,70
print(l[4::2])   #50,70,90
print(l[8:2:-2]) #90,70,50
print(l[4:100])  #50,60,70,80,90,100
print(l[4:0:2])  #[]
print(l[::1])    #[10,20,30,40,50,60,70,80,90,100]
print(l[::-1])   #[100,90,80,70,60,50,40,30,20,10]

[30, 40, 50, 60, 70]
[30, 50, 70]
[50, 70, 90]
[90, 70, 50]
[50, 60, 70, 80, 90, 100]
[]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

In [10]:
#Traversing elements list and applications
# By using while loop
l=[10,20,30,40,50,60,70,80,90,100]
i=0
while i< len(l):
    print(l[i])
    i=i+1

10
20
30
40
50
60
70
80
90
100

In [14]:
#Traversing elements list and applications
# By using for loop
l=[10,20,30,40,50,60,70,80,90,100]
for i in range(10):
    print(l[i])
    i=i+1

10
20
30
40
50
60
70
80
90
100

In [45]:
#Print only even numbers
# By using for loop
l=[0,1,2,3,4,5,6,7,8,9,10]
for x in l:
    if x%2==0:
        print('The number is Even:',x)
    else:
        print('The number is Odd:',x)

The number is Even: 0
The number is Odd: 1
The number is Even: 2
The number is Odd: 3
The number is Even: 4
The number is Odd: 5
The number is Even: 6
The number is Odd: 7
The number is Even: 8
The number is Odd: 9
The number is Even: 10

In [1]:
#To print elements of list index wise
l=[10,20,30,40,50,60]
i=0
while i<len(l):
    print('The element present at positive index {} and at negative index {} is {}'.format(i,i-len(l),l[i]))
    i=i+1

The element present at positive index 0 and at negative index -6 is 10
The element present at positive index 1 and at negative index -5 is 20
The element present at positive index 2 and at negative index -4 is 30
The element present at positive index 3 and at negative index -3 is 40
The element present at positive index 4 and at negative index -2 is 50
The element present at positive index 5 and at negative index -1 is 60

In [2]:
#Mathematical Operators for list
#Concatnation Operator(+)  and Repetition Operator(*)



#Concatnation Operator (+):
l1=[10,20,30]
l2=[30,40,50]
l3=l1+l2        #[10,20,30,30,40,50]
print(l3)

[10, 20, 30, 30, 40, 50]

In [3]:
l1=[10,20,30]
l2=l1+40      #We can't concatnate list and other type we will get error
print(l2)

TypeError: can only concatenate list (not "int") to list

In [4]:
l1=[10,20,30]
l2=l1+[40] 
print(l2)

[10, 20, 30, 40]

In [7]:
#Repetition Operator(*)
l1=[10,20]
l2=l1*2     #One arugment should be list another arugment should be int
print(l2)

#Repetition Operator
l1=[10,20]
l2=2*l1     #One arugment should be list another arugment should be int
print(l2)


#Repetition Operator
l1=[10,20]
l2=l1*l1     #Error
print(l2)

[10, 20, 10, 20]
[10, 20, 10, 20]

In [8]:
#
l1=[10,20]
l2=[30,40]
l3=l1+l2  #[10,20,30,40]
l4=l3*3  #[10,20,30,40,10,20,30,40,10,20,30,40]
print(l4)

[10, 20, 30, 40, 10, 20, 30, 40, 10, 20, 30, 40]

In [10]:
#Equality Operators for list datatype
#   ==,  !=
l1=['Dog','Cat','Rat']
l2=['Dog','Cat','Rat']
l3=['DOG','CAT','RAT']
l4=['Cat','Rat','Dog']
print(l1==l2)
print(l1==l3)
print(l1==l4)
print(l1!=l4)

True
False
False
True

In [13]:
#Relational Operators using list operator
l1=[10,20,30,40]
l2=[10,20]
print(l1<l2)
print(l1<=l2)
print(l1>l2)
print(l1>=l2)

False
False
True
True

In [11]:
#Relational Operators using list operator
l1=[10,20,30,40]
l2=[10,20,30,40,50,60]
print(l1<l2)
print(l1<=l2)
print(l1>l2)
print(l1>=l2)

True
True
False
False

In [16]:
l1=['Manohar','Reddy']
l2=["Abhinav","Reddy"]
print(l1<l2)
print(l1<=l2)
print(l1>l2)
print(l1>=l2)

False
False
True
True

In [17]:
l1=['Manohar Reddy']
l2=["Abhinav Reddy"]
print(l1<l2)
print(l1<=l2)
print(l1>l2)
print(l1>=l2)

False
False
True
True

In [18]:
#membership Operators for list datatype
l1=[10,20,30]
print(10 in l1)
print(100 not in l1)
print(100 in l1)

True
True
False