In [11]:
#Python Operators
#[+,-,*,/,%,//,**]   Addition, Subtraction, Multiplication,Division,Module,Floor Division,Expontial/Power Operator
a=10
b=3
print(a+b)
print(a-b)
print(a*b)
print(a%b)
print("******************")
#"/" Division Operator always show floating value
print(10/2)
print(10/3)
print("******************")
#"//" Floor division operator always show int values (Based on requirement it will change)
# int + int = int
# int + float = float
# float + int = float
# float + float = float
print(10/3)
print(10.0/3)
print(10//3)
print(10.0//3)


print("*******Assignment*********")
print(20/2)   #10.0
print(20.5/2) #10.25
print(20//2)  #10
print(20.5//2) # 10.0
print(15//2) #15
print(15.0//2) #15.0

13
7
30
1
******************
5.0
3.3333333333333335
******************
3.3333333333333335
3.3333333333333335
3
3.0
*******Assignment*********
10.0
10.25
10
10.0
7
7.0

In [13]:
# "**" Exponentional/Power operator
print(10**2)
print(3**3)

100
27

In [24]:
#"+" Operator using string datatype
#print('Mano'+10)  # We can concate only 2 string
print('Mano'+'10')
print('Mano'+str(10))
print('Mano'+' '+str(10))

Mano10
Mano10
Mano 10

In [30]:
#"*" Operator using string
print('Mano'*3) 
print(3*'Mano')
#print('Manohar'*'Reddy')  #Error because both are strings. Atleast one value numeric digit is required
#print('Manohar'*'3') #Error because both are strings. Atleast one value numeric digit is required
print('Manohar'*int('3'))

ManoManoMano
ManoManoMano
ManoharManoharManohar

In [32]:
# Any value division or module it will through zero error
print(10/0)
print(10.0/0)
print(10//0)
print(10.0//0)
print(10%0)

ZeroDivisionError: integer modulo by zero

In [33]:
#"*" using bool values
print('Manoahr'*True)
print('Manohar'*False) #Empty value because False value is always '0'

Manoahr

In [34]:
#Relational Operators
# < , <= , > ,>=
a=10
b=20
print(a<b)
print(a<=b)
print(a>b)
print(a>=b)

True
True
False
False

In [40]:
#to find unicode values below 2 functions is useful
print(ord('a'))  #To find unicode values for the given string
print(chr(65))   #To find given character for a unicode value

97
A

In [45]:
#Relational Operators using str
s1='durga'
s2='sunny'
print(s1<s2)
print(s1<=s2)
print(s1>s2)
print(s1>=s2)
print("***********************")
s1='manohar'
s2='manohar'
print(s1<s2)
print(s1<=s2)
print(s1>s2)
print(s1>=s2)
print("***********************")
s1='manohar'
s2='Manohar'
print(s1<s2)
print(s1<=s2)
print(s1>s2)
print(s1>=s2)
print("***********************")
s1='Manohar'
s2='Mahi'
print(s1<s2)
print(s1<=s2)
print(s1>s2)
print(s1>=s2)

True
True
False
False
***********************
False
True
False
True
***********************
False
False
True
True
***********************
False
False
True
True

In [49]:
#Relational Operators using Bool Values
print(True>False)
print(True>=False)
print(True<False)
print(True<=False)

True
True
False
False

In [53]:
#Sampling programm
a=10
b=20
if a>b:
    print("a is greater than b")
else:
    print("a is not greater than ")

a is not greater than

In [54]:
#Chain method using relational operator
print(10<20)
print(10<20<30)
print(10<20<30<40)
print(10<20<30<40>50)

True
True
True
False