In [15]:
s=set()
s.add(10)
s.add('M')
s.add('Z')
s.add(20)
s.add(10)
print(type(s))
print(s)
print(s[0])        #Error index concept is not applicable
print(s[1:3])      #Error index concept is not applicable

<class 'set'>
{10, 20, 'M', 'Z'}

In [23]:
#creation of set objects
#1)Empty set    2)Regular method    3)Using set() function    4)Dynamic method


#1)Empty set
s=set()
print(type(s))

#2)If we know the data already:  Regular Method
s={10,20,40,30}

#3) using set() function
l=[10,20,20]
s=set(l)
print(s)

t=(10,20,30)
s=set(t)
print(s)

s=set(range(0,101,10))
print(s)


s='Manohar Reddy'
s1=set(s)
print(s1)            #Duplicate values removed


#4)Dynamic method
s=eval(input('Enter a set values:'))
print(s)

<class 'set'>
{10, 20}
{10, 20, 30}
{0, 100, 70, 40, 10, 80, 50, 20, 90, 60, 30}
{'a', 'r', 'e', 'd', 'M', 'y', 'R', 'h', ' ', 'o', 'n'}
Enter a set values:{"Manohar"}
{'Manohar'}

In [28]:
#Mathematical Operators for set
#1)Relational Operators    2)Assignment Operators     3)Membership operators

#1)Relational Opetors
s={10,20,30}
s1={30,20,10}
print(s==s1)
print(s1==s)

print("***********************")

#2)Assignment operators
s={10,20,30}
s1={40,50,10}
print(s<s1)
print(s<=s1)
print(s>s1)
print(s<=s1)

print("***********************")
#3)membership operators
s={10,20,30}
print(10 in s)
print(100 in s)
print(100 not in s)

True
True
***********************
False
False
False
False
***********************
True
False
True

In [38]:
#Important Methods and functions in set: 
#1)len(), 2)add() 3)update()

#1)len()
s={10,20,30,(10,20)}
print(len(s))

#2) add()
s={10,20,30,40}
s.add(50)
s.add(60)
print(s)

#3)update()
#To add multiple items to the set . ALl objects should be iterable objects like #list,#set,#tuple,#string
s={10,20}
l=[10,20,30]
s.update(l)
s.update(range(1,6),'Manohar')
print(s)

4
{40, 10, 50, 20, 60, 30}
{1, 2, 3, 4, 5, 'a', 'n', 'r', 10, 'M', 'h', 20, 'o', 30}

In [50]:
#Important Methods and functions in set: 
#1)remove()    2)discard()   3)pop()    4)clear()


#1)remove()
s={10,20,30,40,50}
s.remove(30)
print(s)
#s.remove(100)       #key error we will get because the set value is not present
print(s)

print("***************************************")
#2)discard
#to overcome above error we can use discard()
s={10,20,30,40,50}
s.discard(30)
print(s)
s.discard(100)       #key error we will get because the set value is not present
print(s)

print("****************************************")

#pop()
s={10,20,30,40}
print(s.pop())
print(s.pop())
print(s.pop())
print(s.pop())
print(s)
#print(s.pop())

print("****************************************")

#4)clear()
s={10,20,30,0}
s.clear()
print(s)

{50, 20, 40, 10}
{50, 20, 40, 10}
***************************************
{50, 20, 40, 10}
{50, 20, 40, 10}
****************************************
40
10
20
30
set()
****************************************
set()

In [62]:
#Set specific methods for mathematical operators
#1)union()    2)intersection()    3)difference()    4)symmetric_difference()


#1)union()
#Method 1
s1={10,20,30,40}
s2={30,40,50,60}
s3=s1.union(s2)      #or s3=s1|s2
print(s3)

#Method 2:
s1={10,20,30,40}
s2={30,40,50,60}
s3=s1|s2
print(s3)

print("***************************************")

#2)intersection()
#Method 1
s1={10,20,30,40}
s2={30,40,50,60}
s3=s1.intersection(s2)
print('The intersection values is:',s3)

#Method 2
s1={10,20,30,40}
s2={30,40,50,60}
s3=s1&s2
print('The intersection values is:',s3)

print("**************************************")

#3)difference()
#method 1
s1={10,20,30,40}
s2={30,40,50,60}
s3=s1.difference(s2)
print('The difference values present is s1 is:',s3)

#method 2
s1={10,20,30,40}
s2={30,40,50,60}
s3=s1-s2
print('The difference values present is s1 is:',s3)


print("**************************************")

#4)symmetric difference()
#Method 1
s1={10,20,30,40}
s2={30,40,50,60}
s3=s1.symmetric_difference(s2)
print('The symmetric difference values is:',s3)

#Method 2
s1={10,20,30,40}
s2={30,40,50,60}
s3=s1^s2
print('The symmetric difference values is:',s3)

{40, 10, 50, 20, 60, 30}
{40, 10, 50, 20, 60, 30}
***************************************
The intersection values is: {40, 30}
The intersection values is: {40, 30}
**************************************
The difference values present is s1 is: {10, 20}
The difference values present is s1 is: {10, 20}
**************************************
The symmetric difference values is: {10, 50, 20, 60}
The symmetric difference values is: {10, 50, 20, 60}

In [64]:
#Aliasing & Cloning and comprehension of set


#Aliasing
s={10,20,30}
s1=s
s.pop()
print(s)
print(s1)

print("*************************")

#cloning()
s={10,20,30}
s1=s.copy()
s.pop()
print(s)
print(s1)

{20, 30}
{20, 30}
*************************
{20, 30}
{10, 20, 30}