In [ ]:
#Tuple Main points
#1) Order is applicable or preserved
#2)Duplicates are allowed
#3)Hetrogenous Elements are allowed(int,string,list,tuple etc..)
#4)Indexing and slicing are allowed
#5) It is Imuteable( Once we add content in tuple we can't edit)
#6) Representa as ( ) but it's optional

In [5]:
t=(10,'Manohar',10,30,[40,50])
t1=10,'Manohar',20,30,[40,50]
print(type(t))
print(type(t1))
print(t)
print(t1)
print(t[0])
print(t[-1])
print(t[1:4])

<class 'tuple'>
<class 'tuple'>
(10, 'Manohar', 10, 30, [40, 50])
(10, 'Manohar', 20, 30, [40, 50])
10
[40, 50]
('Manohar', 10, 30)

In [7]:
#Eg:
t=(10,20,30,40)
t[0]=77        #error because its imuteable
print(t)

TypeError: 'tuple' object does not support item assignment

In [10]:
#Single value tuple:
#If we are assiging a single value in tuple it won't consider as tuple it will consider as int below the example

t=(10)               #it will consider as int
t1=(10,20,'Manohar')
print(type(t))          #int
print(type(t1))         #tuple
print(t)                #10
print(t1)               #(10,20,'Manohar')


print("*****************************")
#if you want to pass single value in tuple we have follow below syntax or method
t=(10,)
print(type(t))
print(t)

<class 'int'>
<class 'tuple'>
10
(10, 20, 'Manohar')
*****************************
<class 'tuple'>
(10,)

In [19]:
#Creation of tuple object


#Empty tuple
t=()

#single valued tuple
t=(10,)
t=10,

#Multivalued tuple
t=(10,20,30)
t=10,20,30
t=(10,20,30,)
t=10,20,30,


#By using tuple function
#Eg1:
l=[10,20,30,[40,50]]
t=tuple(l)
print(t)

print("********************************************")

#eg2:  By using range and numbers
t=tuple(range(1,11,2))
print(t)

print("********************************************")

#eg3:
t=tuple('Manohar')
print(t)

print("********************************************")

#eg4:
t=tuple('Manohar')
for ch in t:
    print(ch)

print("********************************************")
    
#with Dynamic or user from keyboard
t=eval(input('Enter tuple values:'))
print(t)

(10, 20, 30, [40, 50])
********************************************
(1, 3, 5, 7, 9)
********************************************
('M', 'a', 'n', 'o', 'h', 'a', 'r')
********************************************
M
a
n
o
h
a
r
********************************************
Enter tuple values:10,20
(10, 20)

In [23]:
#Accessing Elements of tuple by using index or slice operator

#By using index:
t=(10,20,30,40,50,60)
print(t[0])             #10
print(t[-1])            #60
#print(t[100])           #out of range index error


#By using slice Operator:
t=(10,20,30,40,50,60,70,80)
print(t[2:5])  #(30,40,50)
print(t[::2])  #(10,30,50,70)

10
60
(30, 40, 50)
(10, 30, 50, 70)

In [25]:
#Mathematical Operators for tuple
#1)Concatentation Operator        2)Repetition operator



#1) Concatentation Operator
t=(10,20,30)
t1=(30,40,50)
t2=t+t1
print(t2)
t3=t2+(10)      #Error we can't concat with int or string etc.. except tuple
print(t3)

(10, 20, 30, 30, 40, 50)

TypeError: can only concatenate tuple (not "int") to tuple

In [31]:
#Repetition Operator
t=(10,20,30)
t1=t*2
print(t1)
print("****************************")

#eg:
t1=(10,20)
t2=(30,40)
t3=t1+t2    #(10,20,30,40)
t4=t3*3     #(10,20,30,40,10,20,30,40,10,20,30,40) 
print(t4)   #(10,20,30,40,10,20,30,40,10,20,30,40)

(10, 20, 30, 10, 20, 30)
****************************
(10, 20, 30, 40, 10, 20, 30, 40, 10, 20, 30, 40)

In [42]:
#Equality and Relational and Membership Operators for tuple:


#Equality Operators:
# ==,  !=

t1=('Cat','Dog','Rat')
t2=('Cat','Dog','Rat')
t3=('CAT','DOG','RAT')
t4=('Rat','Dog','Cat')
print(t1==t2)  #True
print(t1==t3)  #False
print(t1==t4)  #False
print(t1!=t3)  #True

print("***************************************")

#Relational Operators:
# <,<=,>,>=
t1=(10,20,30)
t2=(30,40,50)
print(t1<t2)  #True
print(t1>t2)  #False

t1=(10,20,30)
t2=(10,5,70)
print(t1>t2)  #True


t1=(10,20,30)
t2=(10,20,30,100,40,50)
print(t1<t2)  #True

print("***************************************")

#Membership operators:
# in, not in
t1=(10,20,30)
t2=(40,50,60)
print(10 in t1)  #True
print(40 in t1)  #False
print(60 in t1)  #False
print(100 in t1) #False
print(100 not in t1)  #True

True
False
False
True
***************************************
True
False
True
True
***************************************
True
False
False
False
True

In [51]:
#Important methods and functions in tuple
#1) len()   2) count()   3)index()

#1) len()
#it returns no of characters to the tuple

t=(10,20,30)
print(len(t))   #3

print("**************")

#count()
#To know no of occurance of specified element in tuple we use count()

t=(10,0,20,30,10,5,0,20)
print(t.count(0))  #2
print(t.count(7))  #0

print("**************")

#3) index()
#Returns index of first occurances of specified element
t=(1,10,20,30,10)
print(t.index(10))  #1
print(t.index(40))  #element is not availble so we will get error

3
**************
2
0
**************
1

ValueError: tuple.index(x): x not in tuple

In [58]:
#Reversing and sorting elements of tuple:

#reversed()
t=(10,20,30)
t1=reversed(t)
t2=tuple(t1)
print('Original tuple is:',t)
print('Reverse tuple is:',t2)

Original tuple is: (10, 20, 30)
Reverse tuple is: (30, 20, 10)

In [65]:
#Sorting elements of tuple
#sorted()

t=(10,20,5,10,1,0,4)
t1=sorted(t)
t2=tuple(t1)
print('The orginal tuple is:',t)
print('The sorted order is:',t2)
print("\n**********************************\n")
#decending perform of tuple 
t=(10,20,5,10,1,0,4)
t1=sorted(t,reverse=True)
t2=tuple(t1)
print('The orginal tuple is:',t)
print('The sorted decending order is:',t2)

The orginal tuple is: (10, 20, 5, 10, 1, 0, 4)
The sorted order is: (0, 1, 4, 5, 10, 10, 20)

**********************************

The orginal tuple is: (10, 20, 5, 10, 1, 0, 4)
The sorted decending order is: (20, 10, 10, 5, 4, 1, 0)

In [67]:
#max() and min() functions of tuple
t=(10,20,100,0,50)
print('maximum value is:',max(t))
print('minimum value is:',min(t))

maximum value is: 100
minimum value is: 0

In [ ]:
#tuple Packing and unpacking