In [4]:
#Conditional and Branching
album_year = 1970
if(album_year<1980) or (album_year>1989):
    print("The album was made in the 70's and 90's")
else:
    print("The album is made in the 80's")

The album was made in the 70's and 90's

In [5]:
Char.	ASCII	Char.	ASCII	Char.	ASCII	Char.	ASCII
A	65	N	78	a	97	n	110
B	66	O	79	b	98	o	111
C	67	P	80	c	99	p	112
D	68	Q	81	d	100	q	113
E	69	R	82	e	101	r	114
F	70	S	83	f	102	s	115
G	71	T	84	g	103	t	116
H	72	U	85	h	104	u	117
I	73	V	86	i	105	v	118
J	74	W	87	j	106	w	119
K	75	X	88	k	107	x	120
L	76	Y	89	l	108	y	121
M	77	Z	90	m	109	z	122

True

In [6]:
'BA' > 'AB'

True

In [ ]:
# If statement example

age = 19
#age = 18

#expression that can be true or false
if age > 18:
    
    #within an indent, we have the expression that is run if the condition is true
    print("you can enter" )

#The statements after the if statement will run regardless if the condition is true or false 
print("move on")

In [11]:
age = 19
if age>18:
    print("Welcome to Teen age")
else:
    print("Grow up")
print("Welcome")

Grow up
Welcome

In [13]:
# Elif statment example
age = 18
if age<18:
    print("You are a child")
elif age ==18:
    print("Just entered teenage world")
else:
    print("You are men")
print("Welcome")

Just entered teenage world
Welcome

In [14]:
# Condition statement example

album_year = 1983
album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")
    
print('do something..')

do something..

In [21]:
album_year = 1990
album_year = 2000
if album_year>2011:
    print("The album made between 90's and 20's")

print('The album made in 70..')

The album made in 70..

In [23]:
5!=5

False

In [ ]:
#For loop in Python

In [3]:
colors = ["Red", "Yellow","Blue"]
for color in colors:
    print(color)

Red
Yellow
Blue

In [8]:
#for number in range(1, 11):
#    print(number)
for number in range(11):
    print(number)

0
1
2
3
4
5
6
7
8
9
10

In [9]:
#The Enumerated For Loop
fruits =["Banana","Apple","Grapes"]
for index,fruit in enumerate(fruits):
    print(f"At position {index}, i found a {fruit}")

At position 0, i found a Banana
At position 1, i found a Apple
At position 2, i found a Grapes

In [ ]:
count = 1
while count <=10:
    print(count)
    count = count + 1

In [ ]:
count = 1
while count <= 10:
    print(count)
    count += 1

In [21]:
#Functions in Python
def add(a):
    b=a+1
    return b
add(10)
c=add(a)

In [27]:
def Mul(a,b):
    c=a*b
    return c
Mul(10,20)
Mul(10.3,10)

103.0

In [32]:
def Mul(a,b):
    c=a*b
    return c
Mul(10, "Manohar ")

'Manohar Manohar Manohar Manohar Manohar Manohar Manohar Manohar Manohar Manohar '

In [35]:
def MJ():
    print("Manohar")
MJ()

Manohar

In [37]:
def Calculate_total(a,b):
    total=a/b
    return total
Calculate_total(10,10)

1.0

In [42]:
#Python built-in Functions
#len(): Calculates the length of a sequence or collection
string_length=len('Manohar Reddy')
string_length

list_length=len([1,2,3,4,5,6])
list_length

6

In [44]:
#sum(): Adds up the elements in an iterable (list, tuple, and so on)
add_two_elements =sum([10,10])
add_two_elements

20

In [46]:
#max(): Returns the maximum value in an iterable
max_value=max([10,20,11,15,30,18,9,7,60])
max_value

60

In [48]:
#min(): Returns the minimum value in an iterable
min_value=min([10,20,11,15,30,18,9,7,60])
min_value

7

In [56]:
# def function_name():
#     pass

In [64]:
def greet(name):
    print("Hello, "+ name)
result= greet('Manohar')
print(result)

Hello, Manohar
None

In [65]:
def multiply(a,b):
    """"
    This function multiplys two numbers
    Input: a (number), b (number)
    Output: Product of a and b
    """
    print(a*b)
multiply(2,3)

6

In [67]:
def add(a,b):
    return a+b
sum_result=add(3,5)
sum_result

8

In [71]:
#Understanding scopes and variables
#Global Scope: Variables defined outside functions; accessible everywhere
#Local Scope: Variables inside functions; only usable within that function


#Part 1: Global variable declaration
global_variable = "I'm global"

#Part 2: Function definition
def example_function():
    local_variable = "I'm local"
    print(global_variable)  # Accessing global variable
    print(local_variable)   # Accessing local variable
example_function()          #Calling Function

I'm global
I'm local

In [72]:
#Part 4: Accessing global variable outside the function
print(global_variable)

I'm global

In [74]:
#Part 5: Attempting to access local variable outside the function
print(local_variable)   #Name Error will get

In [75]:
#Using functions with loops


def print_numbers(limit):
    for i in range(1, limit+1):
        print(i)
print_numbers(10)

1
2
3
4
5
6
7
8
9
10