<a href="https://colab.research.google.com/github/iamchenchu/Peer-Learning-USD/blob/main/Week_01_Python_Crash_Course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Topics Discussed 2nd March Saturday
  1. What is programming language
  2. Python advantages
  3. Memory Representation
  4. Data types : Integers, Float, Bool, None
  5. Data Structures
    1. List : Covered topic and it's methods
    2. Tuple
    3. Set
    4. Dictionary

#### Programming Language :    
    the language we use to communicate with any  PC/Lapop/System is called programming language.
    Example : Python, Java, C, C++, Java Scripts etc

#### Will System understand the programming language :   NO
    Our system can not understand any programming language other than binary language, But the best thing is that every programming language will have a translator (Interpretor and Compiler) which converts the programming language into binary language before running the code.

#### Interpretor and compiler :
  Execution:

     1.  Compiler: Converts the whole program to machine code at once, then
         executes it.
         Interpreter: Executes the program line-by-line without converting it to machine code first.
      2. Speed:
         Compiler: Execution is fast after compilation.
         Interpreter: Execution is slower, as it happens line-by-line.
      3. Error Reporting:
         Compiler: Reports all errors after compilation, before execution.
         Interpreter: Reports errors one by one as it executes.
      4. Memory Usage:

      5. Compiler: Might use more memory to store the compiled code.
         Interpreter: Generally uses less memory during execution.

#### About python

  1. Python build by Guido Van Russom
  2. Python is easy to read, understand and learn
  3. Python is a hight level language
  4. Python is Free and Open Sourse language
  5. Python is portable language
  6. Python used for ML/AI, Webdevlopment, Gaming etc

#### Variables
  Variables are containers for storing data values.

  `x = 10`  # x is a variable and 10 is the value of a variable

  `name = "RajaRam"` # name is variable, RajaRam is the value of a variable




#### Basic Data Types in Python:


    1. Integers (int): Represents whole numbers, positive or negative, without decimals. `Example: 5, -3.`
    2. Floating-point numbers (float): Represents real numbers with decimal points. `Example: 3.14, -0.001.`
    3. Booleans (bool): Represents two values: True or False. Useful for conditional expressions.

    4. Strings (str): Represents sequences of characters enclosed in quotes. Strings are immutable, meaning they cannot be changed after they are created.
      `Example: "Hello, World!".`
    5. None : if we don't have any value to assign to the container/variable then we could assign `None` which means nothing.

In [2]:
# below are some identifiers or viariables of Human example
name = "Rajendra Veralli"
Height =  6
salary = 100.5
color = "Light Color"
age = 26
city = "Karim nagar"
eye_color =  "Black"
address = None # Case sensitive

print(name, Height, age) # in case if u will see round brackets anywhere in the python, it's a function
print(type(Height))
print(type(salary))
print(type(city))

Rajendra Veralli 6 26
<class 'int'>
<class 'float'>
<class 'str'>

#### Functions :     
We have 2 types of functions in python
  1. Built-in Functions : print(), type(), sort()
      * Every function will have the specific functionality
          * `print() :` this function returns the value of varibale of which we pass as a parameter
          * `type() :` this function return the type of data of varibale of which we pass as a parameter
  2. User defined functions : the functions we create for our requirements, which we will learn very soon

In [3]:
# String and it's methods
"""I am creating a string and I will try to explore all the possible methods or I will access elements of the
shfhebf
Fjhfjhf
ajfhegfkef
ajfhgefh"""

name = 'Chenchu'
name1 = "Chenchu"
print(name )

Chenchu

In [4]:
# String and accessing it's elements

name  = "NAJABAJAJAJARA"
print(name[-2])
print(name[3])
print(name[:4]) # Slicing, 0, 1, 2, 3
print(name.count('A'))
print(name.count("J"))   # inbuilt method count("element") it returns the number of occurances in the string

R
A
NAJA
7
4

In [5]:
first_name = "Triveni"
last_name = "Madamanchi"

print(first_name,last_name, end='---->>>>>>>>>>') # print(*args, sep=" ", end ='\n')
print(first_name, last_name, sep ="?????????")

Triveni Madamanchi---->>>>>>>>>>Triveni?????????Madamanchi

# Data Structures in python
  `1. List`

    * Characteristics: Mutable, ordered collection of items.
    * Creation: my_list = [1, 2, 3] or using the list() constructor.
    * Common Operations:
        * Adding items: append(), extend(), insert()
        * Removing items: remove(), pop(), clear()
        * Other: sort(), reverse(), count(), index()
        
  `2. Tuple`

    * Characteristics: Immutable, ordered.
    * Creation: my_tuple = (1, 2, 3) or using the tuple() constructor.
    * Common Operations:
         * Accessing elements: via indexing my_tuple[0]
         * Counting: count()
         * Finding index: index()
         * Note: Cannot change elements due to immutability.

  `3. Set`

    * Characteristics: Mutable, unordered, unique elements.
    * Creation: my_set = {1, 2, 3} or using the set() constructor.
    * Common Operations:
         * Adding items: add()
         * Removing items: remove(), discard(), pop(), clear()
         * Set operations: union(), intersection(), difference(), symmetric_difference()
    
  
  `4. Dictionary`
  
    * Characteristics: Mutable, unordered (ordered as of Python 3.7), key-value pairs.
    * Creation: my_dict = {'key': 'value'} or using the dict() constructor.
    * Common Operations:
         * Adding/updating items: my_dict['key'] = 'value'
         * Removing items: pop(), popitem(), clear()
         * Accessing: keys(), values(), items()

#### Important List methods

    1. `append(x):` Adds an item (x) to the end of the list.
    2. `extend(iterable):` Extends the list by appending all the items from the iterable.
    3. `insert(i, x):` Inserts an item (x) at a given position (i).
    4. `remove(x):` Removes the first item from the list whose value is x. An error is raised if there is no such item.
    5. `pop([i]):` Removes the item at the given position in the list, and returns it. If no index is specified, pop() removes and returns the last item in the list.
    6. `clear():` Removes all items from the list. Equivalent to del a[:].
    7. `index(x[, start[, end]]):` Returns the zero-based index in the list of the first item whose value is x. Raises a ValueError if there is no such item.
    8. `count(x):` Returns the number of times x appears in the list.
    9. `sort(key=None, reverse=False):` Sorts the items of the list in place (the arguments can be used for sort customization).
    10. `reverse():` Reverses the elements of the list in place.
    11. `copy():` Returns a shallow copy of the list. Equivalent to a[:].

In [6]:
names_list = {"Varsha Reddy", "Ananth", "Siva Priya", "Sai Teja", "Manohar Kakarla", "Sreelatha", "Karthik Renati", "Akshay Reddy", "Deepika", "Maha", "Sharanya", "Triveni Madamanchi", "Krishna Battula", "Raghu Vamshi Kodali", "Aravind Katta"}

usd = {
    "cse" : {20, 10},
    "arts" : {15, 11}
}

print(names_list)

{'Raghu Vamshi Kodali', 'Ananth', 'Krishna Battula', 'Sreelatha', 'Karthik Renati', 'Sharanya', 'Sai Teja', 'Siva Priya', 'Aravind Katta', 'Manohar Kakarla', 'Akshay Reddy', 'Deepika', 'Maha', 'Varsha Reddy', 'Triveni Madamanchi'}

In [7]:
names = ["Varsha Reddy", "Ananth", "Siva Priya", "Sai Teja", "Manohar Kakarla", "Sreelatha"]
print(names)

['Varsha Reddy', 'Ananth', 'Siva Priya', 'Sai Teja', 'Manohar Kakarla', 'Sreelatha']

In [8]:
tuple_names = ("Varsha Reddy", "Ananth", "Siva Priya", "Sai Teja", "Manohar Kakarla", "Sreelatha", "Sreelatha")
set_names = {"Varsha Reddy", "Ananth", "Siva Priya", "Sai Teja", "Manohar Kakarla", "Sreelatha", "Sreelatha"}
print(tuple_names)
print(set_names)

('Varsha Reddy', 'Ananth', 'Siva Priya', 'Sai Teja', 'Manohar Kakarla', 'Sreelatha', 'Sreelatha')
{'Manohar Kakarla', 'Sreelatha', 'Sai Teja', 'Varsha Reddy', 'Siva Priya', 'Ananth'}

In [9]:
## Lists
chenchu_tution = ["Varsha Reddy", "Ananth", "Siva Priya", "Sai Teja", "Manohar Kakarla", "Sreelatha"]
print(chenchu_tution[-1])
chenchu_tution.append("Eswar")
print(chenchu_tution)
chenchu_tution.insert(3, "Veralli")
print(names_list)

ram_tution = ["Sai Teja", "Manohar Kakarla", "Sreelatha", "Karthik Renati", "Akshay Reddy"]
chenchu_tution.extend(ram_tution)
print(chenchu_tution)

# To find the length of String, list, tuple..... we use inbuit function called len()
print(len(chenchu_tution))
print(len(ram_tution))
name = "Rajaram"
print(len(name))

chenchu_tution.sort(reverse = True)     #function/ method overriding
print(chenchu_tution)

chenchu_tution.pop()
del chenchu_tution

Sreelatha
['Varsha Reddy', 'Ananth', 'Siva Priya', 'Sai Teja', 'Manohar Kakarla', 'Sreelatha', 'Eswar']
{'Raghu Vamshi Kodali', 'Ananth', 'Krishna Battula', 'Sreelatha', 'Karthik Renati', 'Sharanya', 'Sai Teja', 'Siva Priya', 'Aravind Katta', 'Manohar Kakarla', 'Akshay Reddy', 'Deepika', 'Maha', 'Varsha Reddy', 'Triveni Madamanchi'}
['Varsha Reddy', 'Ananth', 'Siva Priya', 'Veralli', 'Sai Teja', 'Manohar Kakarla', 'Sreelatha', 'Eswar', 'Sai Teja', 'Manohar Kakarla', 'Sreelatha', 'Karthik Renati', 'Akshay Reddy']
13
5
7
['Veralli', 'Varsha Reddy', 'Sreelatha', 'Sreelatha', 'Siva Priya', 'Sai Teja', 'Sai Teja', 'Manohar Kakarla', 'Manohar Kakarla', 'Karthik Renati', 'Eswar', 'Ananth', 'Akshay Reddy']

# Expected Topics to be covered on 3rd March Sunday
  1. Lists in more detail
  2. Tuple and methods
  3. Set and methods
  4. Dictionary and methods
  5. Concatenation
  6. Type casting
  7. Operators in python
      * Arithmetic operators
      * Assignment operators
      * Comparison operators
      * Logical operators
      * Identity operators
      * Membership operators
      * Bitwise operators

In [10]:
# Concatenation

f_name = "Manohar"
l_name = "Reddy"
age = 20
city = "Nellore"
marks = 90

print(f_name, l_name, age) #

print(f_name +" "+l_name) # Concatenation
print(f'My name is "{f_name}" {l_name}. I am from {city}. My age is {age}. I got {marks} marks.') # F String formatting

Manohar Reddy 20
Manohar Reddy
My name is "Manohar" Reddy. I am from Nellore. My age is 20. I got 90 marks.

In [11]:
# Type casting

a = 10
print(type(a))

a = float(a)
print(type(a))

c = 14.5
print(type(c))
print(int(c)) # I am asking to print for one time
print(type(c))
c = int(c)
print(type(c))

d = 300
print(bool(d))

# Data Structures casting

list1 = [3, 2, 5, 4]
print(type(list1))

tuple1 = tuple(list1)
print(tuple1)

set1 = set(tuple1)
set2 = set(list1)
print(set1)
print(set2)

marks = (20, 10, 25, 30)
print(type(marks)) # type() -> returns the type of data
marks = list(marks)
print(type(marks))

<class 'int'>
<class 'float'>
<class 'float'>
14
<class 'float'>
<class 'int'>
True
<class 'list'>
(3, 2, 5, 4)
{2, 3, 4, 5}
{2, 3, 4, 5}
<class 'tuple'>
<class 'list'>

In [12]:
# we can also make dictionaries from 2 different data structures
# could be list and tuples, list and sets, tuples and sets or lists

names = ["rama", "krishna", "mahohar","eswar"]
ages = {20, 30, 30, 50}

dictionary = dict(zip(names, ages))
print(dictionary)

{'rama': 50, 'krishna': 20, 'mahohar': 30}

In [13]:

dictin1 = {
    "names" : ["rama", "krishna", "mahohar","eswar"],
    "ages" : {20, 30, 30, 50}
}

print(dictin1)

{'names': ['rama', 'krishna', 'mahohar', 'eswar'], 'ages': {50, 20, 30}}

In [14]:
# set, tuple, list, diction -> in all of these data structures we can create nested ds

names = ["ram", "B", "C", ("d", "e", "f")] # nested list
print(names[0])
print(names[-1][-1])


names1 = ["ram", "B", "C", {"d", "e", "f"}] # nested list
print()

ram
f

In [15]:
# List
list1 = [50, 60, 70, 'x', 'y', 'z', True, False]

list1.append("A")
print(list1)

list1.insert(3, 'S') # giving position and value
print(list1)
print(list1[3])
list1.insert(1, [1,2,3])
print(list1)
list1[1].append(7)
print(list1)

list1[1].insert(1, 4)
list1[1].insert(0, 500)
print(list1)




# list1.remove(70) # Giving Value to remove
# print(list1)

# list1.pop(3) # Gives position to remove
# print(list1)

[50, 60, 70, 'x', 'y', 'z', True, False, 'A']
[50, 60, 70, 'S', 'x', 'y', 'z', True, False, 'A']
S
[50, [1, 2, 3], 60, 70, 'S', 'x', 'y', 'z', True, False, 'A']
[50, [1, 2, 3, 7], 60, 70, 'S', 'x', 'y', 'z', True, False, 'A']
[50, [500, 1, 4, 2, 3, 7], 60, 70, 'S', 'x', 'y', 'z', True, False, 'A']

In [16]:
list2 = [50, 60, 70, 'x', 500, 'z']

list2.insert(list2[4], 'Z1')
print(list2)
print(len(list2))


list2.clear() # It clears all the elements and return an empty list
print(list2)

list3 = list2.copy() # It copies all the elements from list2 to list3
print(list3)

[50, 60, 70, 'x', 500, 'z', 'Z1']
7
[]
[]

In [17]:
list4 = [50, 60, 70, 40, 50, 30]

print(list4.sort()) # When we execute this sort() method, it modifies the list and won't return the new list, so if we want the list to
# be returned we have to print it explicitly
print(list4)

list4.reverse()
print(list4)

None
[30, 40, 50, 50, 60, 70]
[70, 60, 50, 50, 40, 30]

In [18]:
list7 = [50, 60, 70, 40, 50, 30]
list7.sort(reverse=True)
print(list7)
print(list7[2])

[70, 60, 50, 50, 40, 30]
50

In [19]:
list7 = [50, 60, 70, 40, 50, 30]
print(list7[2])
print(list7.index(30))
print(list7.count(50))

70
5
2

In [20]:
# Tuples


tuple1 = (60, 50, 70, 40, 50, 30) # ordered, immutable, accepts duplicates
print(tuple1)

tuple2 = tuple1[1: 4]
print(tuple2)

# index(), count()
print(tuple1.index(50))
print(tuple1.count(50))
list8 = []

for index, x in enumerate(tuple1):
  if x == 50:
    list8.append(x)

print(len(list8))
print(list8)

(60, 50, 70, 40, 50, 30)
(50, 70, 40)
1
2
2
[50, 50]

In [ ]:
# Tuples

t = (27, 12, 29, 13, 19, 18, 20, 24, 20, 84, 93, 82, 94, 95, 12)

print(t.count(12)) # count the 12 occurance in the tuple t

print(t.index(19)) # will return the first index of 19

for i in t:
    print(i, end=' ') # this iterates the entire tuple t

t1 = (1, 2, 4, 6)
t2 = (12, 19, 20, 31)

t3 = t1 + t2 # creating the t3 tuple from tuple t1 and tuple t2
print('\n',t3)  # printing the tuple t3

print(18 in t) # will return True if the 18 present in the tuple t
print(100 not in t) # will return True if the 100 don't exist in the tuple t

print(t[5:10]) # it prints the tuple sliced part from index 5 to 9

print(len(t)) # it returns the length of tuple

In [21]:
# Sets

num = {1, 2, 3, 4, 5}

# adding element
num.add(10)
print(num)

# Remove
num.remove(5)
print(num)

num2 = {1, 14}

n = num.union(num2)
print(n)

n1 = num.intersection(num2)
print(n1)

{1, 2, 3, 4, 5, 10}
{1, 2, 3, 4, 10}
{1, 2, 3, 4, 10, 14}
{1}

In [22]:
n10 = {1,2,4,5,6,11,12}
n11 = {1,2,4}

n12 = n10.difference(n11)
print(n12)

{11, 12, 5, 6}