In [2]:
#String Operator using Arthimetic Operators

s='manohar'+' '+'reddy'
print(s)

manohar reddy

In [6]:
s='manohar' + 10
print(s)   #--We will get type error we can't convert string and int

In [7]:
#  "*" Operator
s='Manohar'*3
print(s)

ManoharManoharManohar

In [8]:
s=3*'Manohar'
print(s)

ManoharManoharManohar

In [12]:
print('*************')
print('Manohar Reddy')
print('*************')

*************
Manohar Reddy
*************

In [3]:
#Type Casting  --To convert from other data type to int  
#a) int() 
#Float to int
float(int(10.989))

10.0

In [19]:
int(10+20j)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [21]:
#Bool to int
int(True)
int(False)

0

In [27]:
#String to int
#string internally contains only integrated values & Base 10
int('20')
#int('10.5')  #It will through error

20

In [4]:
#Float Datatype Method
#Other Datatype to float Datatype
#Float to int
float(15)

#We can't convert float to complex or complex to float

15.0

In [6]:
#Float to Boolean
float(True)
float(False)

0.0

In [8]:
#Float to string
float("10")
float("10.6")

10.6