In [2]:
#String Operator using Arthimetic Operators

s='manohar'+' '+'reddy'
print(s)

manohar reddy

In [6]:
s='manohar' + 10
print(s)   #--We will get type error we can't convert string and int

In [7]:
#  "*" Operator
s='Manohar'*3
print(s)

ManoharManoharManohar

In [8]:
s=3*'Manohar'
print(s)

ManoharManoharManohar

In [12]:
print('*************')
print('Manohar Reddy')
print('*************')

*************
Manohar Reddy
*************

In [3]:
#Type Casting  --To convert from other data type to int  
#a) int() 
#Float to int
float(int(10.989))

10.0

In [19]:
int(10+20j)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [21]:
#Bool to int
int(True)
int(False)

0

In [27]:
#String to int
#string internally contains only integrated values & Base 10
int('20')
#int('10.5')  #It will through error

20

In [4]:
#Float Datatype Method
#Other Datatype to float Datatype
#Float to int
float(15)

#We can't convert float to complex or complex to float

15.0

In [6]:
#Float to Boolean
float(True)
float(False)

0.0

In [8]:
#Float to string
float("10")
float("10.6")

10.6

In [24]:
#Other type to complex datatype
#Complex to int datatype
#Form 1 Method:
complex(110)
complex(10.6)
complex(True)
complex(False)
complex("10")
complex("10.5")

#Form 2 Method:
complex(10,10)
complex(10.5,20.5)
complex(True,False)
complex(False,True)
complex("10","20")    #If you want to pass real part string and imaginary part can't take string
complex("10",20)      #If you want to pass real part string and imaginary part can't take string
complex(10,"20")      #If you want to pass real part string and imaginary part can't take string

TypeError: complex() can't take second arg if first is a string

In [14]:
#Datatype Conversion Bool to other datatypes
#Bool to int
bool(10)
bool(0)
bool(10.00)
bool("10.0")
bool(10+20j)
bool(1J)
bool('True')
bool('False')
bool('yes')
bool('No')
bool('')   #--Empty string always show false remaining all are true conditions

False

In [19]:
#Datatype Conversion str to other datatypes
#str to int
str(0)
str(10.0)
str(10+20J)
str(True)
str(False)

'False'

In [21]:
#Fundamental Datatypes vs Immuteable
x=10
print(id(x))
x=x+1
print(id(x))

140718247875656
140718247875688

In [23]:
x=10
y=x
print(id(x))
print(id(y))
y=y+1
print(x)
print(y)
print(id(x))
print(id(y))

140718247875656
140718247875656
10
11
140718247875656
140718247875688

In [45]:
a=10
b=10
c=10
print(a is b is c)
a=True
b=True
print(a is b)
c='Manohar'
d='Manohar'
print(c is d)
x=1000.12
y=1000.12
print(x is y)

True
True
True
False

In [50]:
a=10.0
b=10.0
print(id(a))
print(id(b))
print(a is b)
a=10+20J
b=10+20J
print(a is b)

1620254168432
1620254170160
False
False

In [51]:
l=[10,20,30]
print(l)
print(id(l))
l[0]=7777
print(l)
print(id(l))

[10, 20, 30]
1620255642560
[7777, 20, 30]
1620255642560

In [58]:
l1=[10,20,30,40]
l2=l1
print(l1)
print(l2)
l1[0]=7777
print(l1)
print(l2)
l2[1]=8888
print(l1)
print(l2)

[10, 20, 30, 40]
[10, 20, 30, 40]
[7777, 20, 30, 40]
[7777, 20, 30, 40]
[7777, 8888, 30, 40]
[7777, 8888, 30, 40]

In [49]:
#Voter Registration Application Developing
Name = input("Enter a name:")
Father_name = input("Enter a Father Name:")
Mother_name = input("Enter a Mother Name:")
Address= input("Enter a valid Address:")
H_no= input("House No:")
Submit= input("Click on submit button: ")

Enter a name:Manohar
Enter a Father Name:Sreenivasulu reddy
Enter a Mother Name:Joythi
Enter a valid Address:1-132
House No:10
Click on submit buttonOkay

In [70]:
# List Datatypes
#Collection Related Data type

l=[10,'Manohar',True,10,30]
print(l)                        #The same order is shown as we provided
print(type(l))
print(l[0])
print(l[-1])
print(l[1:4])


d=[]  #Creating a empty list
d.append(10),d.append(20),d.append(30),d.append(40)      #Append values in list
d.remove(40)                                             #Removing value in list
print(d)


c=[10,20,30,40]
print(c)
c[0]=9999
print(c)

[10, 'Manohar', True, 10, 30]
<class 'list'>
10
30
['Manohar', True, 10]
[10, 20, 30]
[10, 20, 30, 40]
[9999, 20, 30, 40]

In [79]:
#Tuple Datatype
k=(10,20,30,'Manohar',40)
print(type(k))
print(k)
print(k[0])
print(k[-3])
print(k[2:4])
#k[0]=1000          #--It's readable(Immuteable) only we can't edit
#k.append(50)        #--It won't support add value or delete value
#k.remove(50)        #--It won't support add value or delete value


x=()
print(type(x))

<class 'tuple'>
(10, 20, 30, 'Manohar', 40)
10
30
(30, 'Manohar')
<class 'tuple'>

In [83]:
z=()
print(type(z))
z=(10)
print(type(z))   #Int type
z=(10,) 
print(type(z))  #Tuple Datatype

<class 'tuple'>
<class 'int'>
<class 'tuple'>
<class 'tuple'>

In [97]:
#Set Datatype

s={10,10,20,20,30,40,10}
print(s)                    #Duplicate data is excluding(removing)
print(type(s))
#print(s[0])   #Index concept is not available
#print(s[1:4]) #Slice concept is not available
s.add(50)     #Adding value in set operator
s.remove(10)  #Removing value in set
print(s)


s={}
print(type(s))      #Empty set will be considered as dict


s=set()
print(type(s))
print(s)

{40, 10, 20, 30}
<class 'set'>
{40, 50, 20, 30}
<class 'dict'>
<class 'set'>
set()

In [103]:
#Frozenset Datatype
s={10,20,50,60,70}
fs=frozenset(s)
print(type(fs))
print(fs)
#fs.app(10)       --It's immutable so we can't add and remove values
fs1=frozenset({10,20,30})
print(fs1)

<class 'frozenset'>
frozenset({50, 20, 70, 10, 60})
frozenset({10, 20, 30})

In [12]:
#Dict Datatype
d={100:'Manohar',200:'Pravallika',300:"Abhi"}
print(type(d))
print(d)

h={}
h[100]='Abhi'
h[200]='Chinna'
h[300]=30
h[300]=400
print(h)

<class 'dict'>
{100: 'Manohar', 200: 'Pravallika', 300: 'Abhi'}
{100: 'Abhi', 200: 'Chinna', 300: 400}

In [16]:
#Range Datatype
r=range(10)
for x in r:
    print(x)
print(r)
print(type(r))
print("***************")
r=range(1,10,2)
for x in r:
    print(x)
print("***************")
r=range(-1,-10,-3)
for x in r:
    print(x)
print("***************")
r=range(20,1,-5)
for x in r:
    print(x)

0
1
2
3
4
5
6
7
8
9
range(0, 10)
<class 'range'>
***************
1
3
5
7
9
***************
-1
-4
-7
***************
20
15
10
5

In [24]:
#index/Slice using range datatype
r=range(10,20)
print(r[0])
print(r[-1])
print("*************")
r1=r[1:14]
for y in r1:
    print(y)

10
19
*************
11
12
13
14
15
16
17
18
19

In [33]:
#byte & bytearray datatype
l=[10,20,30]
#l=(10,20,30)
#l={10,20,30,40}
b=bytes(l)
for x in b:
    print(x)

10
20
30

In [42]:
l=[10,20,200,40,50,60,70,80,90,100,110,120]
b=bytes(l)
print(b[0])   #index is working
#print(b[1:5])
l=[10,20,300]
b=bytes(l)    #Only allowed 0 to 255

10

ValueError: bytes must be in range(0, 256)

In [45]:
#byte & bytearray datatype
l=[10,20,30]
#l=(10,20,30)
#l={10,20,30,40}
b=bytearray(l)
b[0]=77
# print(b[0])
# print(b[-1])
for x in b:
    print(x)

77
20
30

In [52]:
#None Datatype
a=None
print(type(a))
print(id(a))
print("****************")
def f1():
    return 10
x=f1()
print(x)
print("****************")
def f1():
    print("Hello")
x=f1()
print(x)           #No value is present so none will display

<class 'NoneType'>
140707794938608
****************
10
****************
Hello
None